{% include 'templates/booking/booking_tmp/booking_head.html' %}
{% include 'templates/booking/booking_tmp/booking_navbar.html' %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>新增用户</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">首页</a></li>
                        <li class="breadcrumb-item active">新增用户</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    {% if forms_errors %}
        <div class="card-body">
            <div class="alert alert-danger alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h5><i class="icon fas fa-ban"></i> 空间增加失败！</h5>
                {% for key,error in forms_errors.items %}
                    {{ error }}
                {% endfor %}
                {{ booking_error_message }}
            </div>
        </div>
    {% endif %}
    {% if success_msg %}
                <div class="card-body">
            <div class="alert alert-success alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h5><i class="icon fas fa-check"></i> 提示信息！</h5>
                {{ success_msg }}
            </div>
        </div>
    {% endif %}

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">新增用户</h3>
                        </div>
                        <form method="post" action="" role="form">
                            {% csrf_token %}
                            <!-- /.card-header -->
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="exampleInput">用户名</label>
                                            <input class="form-control" type="text" id="name" name="username">
                                        </div>
                                        <!-- /.form-group -->
                                        <div class="form-group">
                                            <label for="exampleInput">姓氏</label>
                                            <input class="form-control" type="text" id="name" name="first_name"
                                                   value="">
                                        </div>
                                        <!-- /.form-group -->
                                    </div>
                                    <!-- /.col -->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="exampleInput">密码</label>
                                            <input class="form-control" type="password" id="name" name="password">
                                        </div>
                                        <!-- /.form-group -->
                                        <div class="form-group">
                                            <label for="exampleInput">名字</label>
                                            <input class="form-control" type="text" id="name" name="last_name"
                                                   value="">
                                        </div>
                                        <!-- /.form-group -->
                                    </div>
                                    <!-- /.col -->
                                </div>
                                <!-- /.row -->

                                <div class="row">
                                    <div class="col-12 col-sm-6">
                                        <div class="form-group">
                                            <label for="exampleInput">身份证</label>
                                            <input class="form-control" type="text" id="name" name="ic"
                                                   value="">
                                        </div>
                                        <!-- /.form-group -->
                                    </div>
                                    <!-- /.col -->
                                    <div class="col-12 col-sm-6">
                                        <div class="form-group">
                                            <label for="exampleInput">公司名</label>
                                            <input class="form-control" type="text" id="name" name="company"
                                                   value="">
                                        </div>
                                        <!-- /.form-group -->
                                    </div>
                                    <!-- /.col -->
                                </div>
                                <!-- /.row -->

                                <div class="row">
                                    <div class="col-12 col-sm-6">
                                        <div class="form-group">
                                            <label for="exampleInput">电子邮件</label>
                                            <input class="form-control" type="text" id="name" name="email"
                                                   value="">
                                        </div>
                                        <!-- /.form-group -->
                                    </div>
                                    <!-- /.col -->
                                    <div class="col-12 col-sm-6">
                                        <div class="form-group">
                                            <label for="exampleInput">手机号码</label>
                                            <input class="form-control" type="text" id="name" name="tel"
                                                   value="">
                                        </div>
                                        <!-- /.form-group -->
                                    </div>
                                    <!-- /.col -->
                                </div>
                                <!-- /.row -->
                                <div class="row">
                                    <div class="col-12 col-sm-6">
                                        <div class="form-group">
                                            <label for="exampleInput">银行</label>
                                            <input class="form-control" type="text" id="name" name="bank_name"
                                                   value="">
                                        </div>
                                        <!-- /.form-group -->
                                    </div>
                                    <!-- /.col -->
                                    <div class="col-12 col-sm-6">
                                        <div class="form-group">
                                            <label for="exampleInput">银行户口</label>
                                            <input class="form-control" type="text" id="name" name="bank_acc"
                                                   value="">
                                        </div>
                                        <!-- /.form-group -->
                                    </div>
                                    <!-- /.col -->
                                </div>
                                <!-- /.row -->
                                <div class="row">
                                    <div class="col-12 col-sm-6">
                                        <div class="form-group">
                                            <label for="exampleInput">权限</label>
                                            <select name="is_superuser" class="custom-select">
                                                <option value="0">Standard</option>
                                                <option value="1">Administrator</option>
                                            </select>
                                        </div>
                                        <!-- /.form-group -->
                                    </div>
                                    <!-- /.col -->
                                    <div class="col-12 col-sm-6">
                                        <div class="form-group">
                                            <label for="exampleInput">状态</label>
                                            <select name="is_active" class="custom-select">
                                                <option value="1">活跃</option>
                                                <option value="0">不活跃</option>
                                            </select>
                                        </div>
                                        <!-- /.form-group -->
                                    </div>
                                    <!-- /.col -->
                                </div>
                                <!-- /.row -->
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">增加</button>
                            </div>
                            <!-- /.card -->

                        </form>
                    </div>


                </div>
                <!--/.col (left) -->
                <!-- right column -->
                <div class="col-md-6">

                </div>
                <!--/.col (right) -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

{% include 'templates/booking/booking_tmp/booking_footer.html' %}

</body>
</html>